.brands {
  position: relative;
  background-color: var(--primary-dark);
  max-width: 80%;
  border-bottom-right-radius: 1rem;
  padding: 1rem 4rem;
  box-shadow: 12px 20px 40px rgba(56, 94, 157, 0.6980392157);
  z-index: 1;
  margin-top: -3rem;
  &__title {
    font-size: 3rem;
  }
  &__logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    > img {
      max-width: 170px;
      filter: invert(1);
    }
  }
}
